* @stonetusker/platform-team

/software-templates/ @stonetusker/platform-team
/gitops/ @stonetusker/platform-team
/platform-services/ @stonetusker/platform-team
/infrastructure/ @stonetusker/platform-team
/backstage-app/ @stonetusker/platform-team
/.github/workflows/ @stonetusker/platform-team
