# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars

# Ansible
*.retry

# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# IntelliJ
.idea/

# macOS
.DS_Store

# Linux
*~

# Logs
*.log

# Secrets
.env
.env.*
secrets.yaml

.generated/
