[defaults]
inventory = inventories/dev/hosts.yml
roles_path = roles
collections_paths = collections
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent

# Modern Ansible output
stdout_callback = ansible.builtin.default
result_format = yaml
