apiVersion: v1
kind: Secret

metadata:
  name: {{ argocd_repo_secret_name }}
  namespace: {{ argocd_namespace }}

  labels:
    argocd.argoproj.io/secret-type: repository

type: Opaque

stringData:
  type: git
  url: {{ argocd_repo_url }}
  sshPrivateKey: |
{{ lookup('file', argocd_repo_key_path) | indent(4, true) }}
